*{
    margin : 0px;
}
.Hello{
    color: aliceblue;
    margin-left: 20px; 
    margin-bottom: 20px;
}
.square{
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px;
    border:solid 5px silver;
    width: 120px;
    height: 120px;
    border-radius: 30px 0px 30px 0px;;
}
.link{
    font-size: 150%;
    text-align: center;
}
.text{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}
.list {
     
    margin-left: 20px;
    word-spacing: 7px;
    color: aliceblue;
}
.value2{
    letter-spacing: 1px;
    color:rgb(188, 188, 221);

}

header{
    text-align: center;
    background-color: aquamarine;
}
footer{
    text-align: center;
    background-color: aquamarine;
}

th, td{
    padding: 1px 3 px;
}

td{
    width: 30px;
    height: 30px;
    border: solid 3px silver;
    text-align: center;
    vertical-align: bottom;
    color: aliceblue;
}
.styles{
    display: inline-block;
    line-height: 30px;
    margin-left: 20px;
    color: aliceblue;
}

.empty-square{
    background-color: rgb(100, 100, 200);
    width: 500px;
    height: 700px;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 0px;
    margin-bottom: 0px;

}
